@import '../../css/const.scss';

.btn {
  position: relative;
  padding: 10px 15px;
  background-color: $color-primery-darker;
  border: none;
  border-radius: 6px;
  color: $color-primery-lightest;
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
}

.btn:hover {
  background-color: $color-primery-lighter;
  color: white;
}

.btn[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.btn.active {
  background-color: $color-active-button;
  border: 1px solid $color-active-button-border;
  box-shadow: 0px 0 2px 0px #c0c0c0;
  color: $color-primery-darkest;
}

.text-left {
  text-align: left;
}
