@import '../../css/const.scss';

html,
body,
#root {
  height: 100%;
}
.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.pages-wrapper {
  flex: 1 0 auto;
  margin: 0 auto;
  max-width: $desktop;
  padding: 15px;
  text-align: justify;
}

.layout-body-wrapper {
  display: grid;
  grid-template-columns: 305px 1fr;
  width: $desktop;
  margin: 0 auto;
}
