@import '../../../css/const.scss';

.header {
  position: relative;
  width: 100%;
  min-height: 350px;
  //background-color: aqua;
  text-align: center;

  h1 {
    margin-top: 60px;
    font-size: 3em;
  }
  p {
    font-size: 1.5em;
  }

  .header-background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: $desktop;

    @media (max-width: $desktop) {
      width: 100%;
    }
  }

  .left-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 350px;
    width: 50%;
    background-image: url('../../../images/porg_left.jpg');
    background-repeat: no-repeat;
    background-position: left center;
    opacity: 0.2;
    &:after {
      position: absolute;
      height: 350px;
      width: 50px;
      z-index: 5;
      right: 0;
      background: linear-gradient(to right, #ffffff, transparent);
    }
  }
  .right-background {
    position: absolute;
    top: 0;
    right: 0;
    height: 350px;
    width: 50%;
    background-image: url('../../../images/pogr_right.jpg');
    background-repeat: no-repeat;
    background-position: right center;
    opacity: 0.2;
  }

  .header-menu {
    position: absolute;
    top: 0;
    right: 0;
    // cursor: pointer;
    cursor: pointer;
    z-index: 6;

    .header-menu-button {
      font-size: 100%;
      font-family: inherit;
      border: 0;
      padding: 0;
      background-color: transparent;
      padding: 10px;
      cursor: pointer;

      .fas {
      }

      .font-size-1-5em {
        font-size: 1.5em;
        margin-right: 20px;
      }
    }
  }
}
