$color-primery: #6e7dab;
$color-primery-darker: #575366;
$color-primery-darkest: #32292f;
$color-primery-lighter: #5762d5;
$color-primery-lightest: #d1e3dd;
$color-active-button: #23c9ff;
$color-active-button-border: #5eb2f2;

$desktop: 1400px;
$tablet: 767px;
$mobile: 640px;
$phone: 480px;
$iphone5: 374px;

.page-title {
  font-size: 2.5em;
  text-align: center;
  margin: 25px 0;
}

.form-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding: 30px 0;
  width: $desktop * 0.9;
  margin: 0 auto;

  h2 {
    height: 100%;
    vertical-align: -webkit-baseline-middle;
  }
}
.img-float-right {
  float: right;
}

.img-page {
  width: 50%;
  margin: 15px;
}

.text-center {
  text-align: center;
}
