@import '../../css/const.scss';

.news-contaner {
  border: 2px solid $color-primery;
  border-radius: 6px;
  margin-top: 10px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 10px 15px;
}
